@model List<Games_Storage_App.Models.GenreViewModel>

<div class="row">
    <div class="col-md-3 my-4">
        <div class="list-group ">
            <a asp-controller="Game" asp-action="GetGames" class="list-group-item list-group-item-action">Список игр</a>
            <a asp-controller="Genre" asp-action="GetGenres" class="list-group-item list-group-item-action">Список жанров</a>
        </div>
    </div>
    <div class="col-md-9 my-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Список жанров</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 table-responsive">
                        <table class="table table-hover table-sm">
                            <tbody>
                                @foreach (var genre in Model)
                                {
                                <tr>
                                    <td>@genre.Name</td>
                                    <td><a class="btn btn-success btn-sm" asp-action="ChangeInformation" asp-route-genreId="@genre.Id" role="button">Изменить</a></td>
                                    <td><a class="btn btn-danger btn-sm" asp-action="DeleteGenre" asp-route-genreId="@genre.Id" role="button">Удалить</a></td>
                                    <td><a class="btn btn-warning btn-sm" asp-controller="Game" asp-action="SearchByGenre" asp-route-genreId="@genre.Id" role="button">Найти игры</a></td>
                                </tr>
                                }
                            </tbody>
                        </table>
                        <div class="text-right">
                            <a class="btn btn-info" asp-action="AddGenre" role="button">Добавить жанр</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>